.container{
    display: flex;
    flex-direction: column;
}

.div1 , .div3 {
    background-color: aqua;
    height: 50px;
    flex-grow: 1;
    text-align: center;
    margin: 15px;
}

.div2{
    background-color: aqua;
    height: 70px;
    width: 200px;
    text-align: left;
    align-self: flex-end;
}