* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .navbar-logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
  }
  
  .navbar-menu li {
    margin-left: 20px;
  }
  
  .navbar-menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-menu a:hover {
    color: #ccc;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200%;
    background-color:blue;
    color: white;
    text-align: left;
  }